<div class="col-lg-2">
  <div class="info-box">
    <span class="info-box-icon bg-primary elevation-1 text-white">
      <%= fa_icon "calendar" %>
    </span>
    <div class="info-box-content">
      <span class="info-box-text"><%= title %></span>
      <span class="info-box-number">
        <%= count %>
      </span>
    </div>
  </div>
</div>
